body {
    background: linear-gradient(135deg, #00ff00 0%, #046704 100%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.counter {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    font-weight: 1000;
    filter: drop-shadow(0px 0px 15px #00000040);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.blur {
    filter: drop-shadow(0px 0px 15px #00000040) blur(20px);
    transition: .3s;
}

#btn {
    padding: 20px 40px;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: rgb(30, 255, 0);
    transition: .5s;
    cursor: pointer;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
        box-shadow: 0px 0px 20px rgba(43, 212, 21, 0.8);
        transition: .5s;
    }

    &:active {
        background-color: rgb(36, 155, 20);
        box-shadow: 0px 0px 20px rgba(34, 154, 19, 0.8);
    }
}

